### Importação dos dados

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [2]:
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [46]:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [4]:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

In [5]:
faturamento = loja['Preço'].sum()
faturamento2 = loja2['Preço'].sum()
faturamento3 = loja3['Preço'].sum()
faturamento4 = loja4['Preço'].sum()

In [6]:
print(f"A Primeira loja faturou R${faturamento}")
print(f"A Segunda loja faturou R${faturamento2}")
print(f"A Terceira loja faturou R${faturamento3}")
print(f"A Quarta loja faturou R$ {faturamento4}")

A Primeira loja faturou R$1534509.12
A Segunda loja faturou R$1488459.06
A Terceira loja faturou R$1464025.03
A Quarta loja faturou R$ 1384497.58

# 2. Vendas por Categoria

In [7]:
popular_1 = loja['Categoria do Produto'].value_counts()
popular_2 = loja2['Categoria do Produto'].value_counts()
popular_3 = loja3['Categoria do Produto'].value_counts()
popular_4 = loja4['Categoria do Produto'].value_counts()

In [8]:
popular_1

Categoria do Produto
moveis                   465
eletronicos              448
brinquedos               324
eletrodomesticos         312
esporte e lazer          284
instrumentos musicais    182
livros                   173
utilidades domesticas    171
Name: count, dtype: int64

In [9]:
popular_2

Categoria do Produto
moveis                   442
eletronicos              422
brinquedos               313
eletrodomesticos         305
esporte e lazer          275
instrumentos musicais    224
livros                   197
utilidades domesticas    181
Name: count, dtype: int64

In [10]:
popular_3

Categoria do Produto
moveis                   499
eletronicos              451
brinquedos               315
eletrodomesticos         278
esporte e lazer          277
livros                   185
instrumentos musicais    177
utilidades domesticas    177
Name: count, dtype: int64

In [11]:
popular_4

Categoria do Produto
moveis                   480
eletronicos              451
brinquedos               338
esporte e lazer          277
eletrodomesticos         254
utilidades domesticas    201
livros                   187
instrumentos musicais    170
Name: count, dtype: int64

In [12]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

print(f"A Primeira loja teve o maior volume de vendas em {popular_1.index[0]} com um total de {popular_1[0]} vendas")
print(f"A Segunda loja teve o maior volume de vendas em {popular_2.index[0]} com um total de {popular_2[0]} vendas ")
print(f"A Terceira loja teve o maior volume de vendas em {popular_3.index[0]} com um total de {popular_3[0]} vendas ")
print(f"A Quarta loja teve o maior volume de vendas em {popular_4.index[0]} com um total de {popular_4[0]} vendas ")

A Primeira loja teve o maior volume de vendas em moveis com um total de 465 vendas
A Segunda loja teve o maior volume de vendas em moveis com um total de 442 vendas
A Terceira loja teve o maior volume de vendas em moveis com um total de 499 vendas
A Quarta loja teve o maior volume de vendas em moveis com um total de 480 vendas

# 3. Média de Avaliação das Lojas

In [13]:

med_aval_1 =loja['Avaliação da compra'].mean()
med_aval_1 = round(med_aval_1, 2)


med_aval_2 =loja2['Avaliação da compra'].mean()
med_aval_2 = round(med_aval_2, 2)


med_aval_3 =loja3['Avaliação da compra'].mean()
med_aval_3 = round(med_aval_3, 2)


med_aval_4 =loja4['Avaliação da compra'].mean()
med_aval_4 = round(med_aval_4, 2)

In [14]:

print(f"A pesquisa de satisfação indica as seguintes notas: loja 1: {med_aval_1}" + f" - loja 2: {med_aval_2}" + f" - loja 3: {med_aval_3}" + f" - loja 4: {med_aval_4}")

A pesquisa de satisfação indica as seguintes notas: loja 1: 3.98 - loja 2: 4.04 - loja 3: 4.05 - loja 4: 4.0

# 4. Produtos Mais e Menos Vendidos

In [34]:
popular_1 = loja['Produto'].value_counts()
popular_2 = loja2['Produto'].value_counts()
popular_3 = loja3['Produto'].value_counts()
popular_4 = loja4['Produto'].value_counts()

In [35]:
maisVend_loja1 = popular_1.head(5) 
menosVend_loja1 = popular_1.tail(5)
maisVend_loja2 = popular_2.head(5) 
menosVend_loja2 = popular_2.tail(5)
maisVend_loja3 = popular_3.head(5) 
menosVend_loja3 = popular_3.tail(5)
maisVend_loja4 = popular_4.head(5) 
menosVend_loja4 = popular_4.tail(5)

In [42]:
print(f'Os produtos mais vendidos da loja 1 foram: {maisVend_loja1}')
print(f'Os produtos mais vendidos da loja 2 foram: {maisVend_loja2}')
print(f'Os produtos mais vendidos da loja 3 foram: {maisVend_loja3}')
print(f'Os produtos mais vendidos da loja 4 foram: {maisVend_loja4}')

Os produtos mais vendidos da loja 1 foram: Produto
Micro-ondas           60
TV Led UHD 4K         60
Guarda roupas         60
Secadora de roupas    58
Cômoda                56
Name: count, dtype: int64
Os produtos mais vendidos da loja 2 foram: Produto
Iniciando em programação    65
Micro-ondas                 62
Bateria                     61
Violão                      58
Pandeiro                    58
Name: count, dtype: int64
Os produtos mais vendidos da loja 3 foram: Produto
Kit banquetas      57
Mesa de jantar     56
Cama king          56
Jogo de panelas    55
Cômoda             55
Name: count, dtype: int64
Os produtos mais vendidos da loja 4 foram: Produto
Cama box                    62
Faqueiro                    59
Dashboards com Power BI     56
Cama king                   56
Carrinho controle remoto    55
Name: count, dtype: int64

# 5. Frete Médio por Loja